<div class="card-container">

    <div class="image-container">
        <img src="https://images-submarino.b2w.io/produtos/imagens/5588318/5588319_1GG.jpg" alt="Book image">
    </div>

    <div class="info-container">
        <p>Livro - O conto da aiaLivro - O conto da aiaLivro - O conto da aia</p>
        <small>Submarino</small>

        <div class="price-container">
            <p><strong>R$ 39,23</strong></p>
            <small>2x de R$ 10,58 sem juros</small>
        </div>
    </div>
</div>
