/* You can add global styles to this file, and also import other style files */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    *:focus {
        outline: none;
    }
}

html,
body {
    font-family: "Roboto", sans-serif;
}

body {
    color: #888888;
}

button {
    cursor: pointer;

    &:active {
        box-shadow: none;
        -webkit-tap-highlight-color: rgba(0,0,0,0);
    }
}
