.iframe-code-container {
    padding: 10px;
    margin: 20px;
    background-color: whitesmoke;
    border-radius: 5px;
    box-shadow: 2px 4px 6px 0 rgba(140, 140, 140, 0.3);

    .link-container {
        display: flex;
        flex-direction: column;
        text-align: center;

        input {
            width: 100%;
            margin: 15px auto;
        }

        button {
            width: 50%;
            margin: 0 auto;
            border: 1px solid rgba(0,0,0,.12);
            background: 0 0;
            color: #888888;
            border-radius: 7px;
            outline: none;
            font-size: 14px;
            transition: box-shadow 0.3s;
            padding: 5px;
    
            &:hover {
                box-shadow: 2px 4px 6px 0 rgba(140, 140, 140, 0.5);
            }
    
            &:active {
                box-shadow: none;
            }
        }
    }

}

@media only screen and (min-width: 768px) {
    .iframe-code-container {
        margin: 20px auto;
        width: 60%;

        .link-container {
            input {
                width: 80%;
            }

            button {
                width: 20%;
            }
        }
    }
}